[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/douglasotsuka
[access "refs/for/refs/*"]
	read = group user/douglasotsuka
	push = group user/douglasotsuka
	label-Code-Review = -2..+2 group user/douglasotsuka
	label-Verified = -1..+1 group user/douglasotsuka
	rebase = group user/douglasotsuka
	removeReviewer = group user/douglasotsuka
	submit = group user/douglasotsuka
[access "refs/heads/*"]
	read = group user/douglasotsuka
	create = group user/douglasotsuka
	push = +force group user/douglasotsuka
	pushMerge = group user/douglasotsuka
[access "refs/tags/*"]
	push = +force group user/douglasotsuka
	pushTag = group user/douglasotsuka
	pushSignedTag = group user/douglasotsuka
